
.tableContainer
  display: block
  max-height: 500px
  overflow-y: scroll
  overflow-x: hidden
  position: relative
  .tableTopControls
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: white
    position: sticky
    top: 0px
    .search
      width: 200px
  .table
    font-size: 14px
    font-family: Arial, Helvetica, sans-serif
    border-collapse: collapse
    width: 100%
    table-layout: fixed

    tbody

    thead
      position: sticky
      top: 50px
    td, th
      border: 1px solid #ddd
      padding: 8px
      word-wrap: break-word
    tr
      .loaderPosition
        position: absolute
        display: flex
        justify-content: center
        z-index: 10
        align-items: center
        width: 100%
      &:nth-child(even)
        background-color: #f2f2f2
    tr
      &:hover
        background-color: #ddd
