.tableContainer
  display: block
  max-height: 500px
  overflow-y: scroll
  overflow-x: hidden

  .tableTopControls
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    background-color: white
    position: sticky
    top: 0px
    .search
      width: 200px
  .table
    font-size: 14px
    font-family: Arial, Helvetica, sans-serif
    border-collapse: collapse
    width: 100%
    table-layout: fixed

    tbody
    thead
      position: sticky
      top: 50px
    td, th
      border: 1px solid #ddd
      padding: 8px
      word-wrap: break-word
    tr
      &:nth-child(even)
        background-color: #f2f2f2
    tr
      &:hover
        background-color: #ddd
