.tableContainer
  position: relative
  height: 600px
  .table
  h1
    margin: 0px 10px
    text-align: left
  .controls
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin: 0px 10px
    .search
      width: 200px !important
      margin: 0px
    .settings
      cursor: pointer
      // border: none
      // background-color: transparent

  .loader
    position: absolute
    top: 40%
