.tableContainer
  position: relative
  height: 600px
  .table
    border: 1px solid
    > :first-child
      padding-right: 0px !important
      > :first-child
        margin-left: 0px
  h1
    text-align: left
  .controls
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    .search
      width: 200px
    .settings
      cursor: pointer
      // border: none
      // background-color: transparent

  .loader
    position: absolute
    top: 40%
